{% extends "base.html" %}

{% block title %}Lista de Livros{% endblock %}

{% block content %}
<h2>Lista de Livros</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Gênero</th>
            <th>Preço</th>
            <th>Data Publicação</th>
            <th>Status</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.nome }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.editora }}</td>
            <td>
                {% for genero in livro.genero.all %}
                    {{ genero.nome }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ livro.preco }}</td>
            <td>{{ livro.data_pub }}</td>
            <td>{{ livro.status }}</td>
            <td><a href="{% url 'delete' livro.id %}" class="btn btn-danger">Excluir</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
